.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden; /* Evita que las imágenes se desborden */
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none; /* Oculta todas las imágenes por defecto */
  }
  
  .slide.active {
    display: block; /* Muestra la imagen activa */
  }
  
  .slide img {
    width: 100%; /* Ajusta el ancho de todas las imágenes al 100% */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
  
  .next-button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }
  